<div class="container" style="margin-top: 100px;">
    <div class="row d-flex">
        @for(p of productlist ; track $index)
{
    <div class="col-md-3">
        <div class="bg-dark text-white shadow-lg">
            <img [src]="p.PImg" class="w-100 ">
           <div class="px-2">
            <h3>{{p.pName}}</h3>
            <span>{{p.pCat}}</span>
            <p>{{p.pPrice}}</p>
           </div>
        </div>
    </div>
}

    </div>
</div>


<h1 class="text-center text-danger"> Recommneded Products</h1>

<p #recomended> Here is some products you may like it</p>

@defer (on viewport(recomended))
{
    <app-recommended-products></app-recommended-products>
}
@placeholder(minimum 5000ms)
{
    <h2>products you may like</h2>
}


